*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: #82AAE3;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 80px;
  border-color: #1C315E;
  border-style: solid;
  border-width: 7px;
  }
.Ajit{
  border-radius: 50%;
  width: 300px;
  height: 330px;
}
h1{
  text-align: center;
}
.content{
  max-width: 900px;
  margin: 0 auto;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 50px;
  font-weight: bold;
}
h3{
  font-size: 35px;
font-weight: bold;
}
.details{
  margin-top: 50px;
  margin-bottom: 20px;
}
.nsa{
  font-size: 25px;
}
.para{
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5;
  margin-top: 10px;
  margin-bottom: 30px;
}
a{
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.link{

    font-style: normal;
    font-size: 20px;
    line-height: 10px;
    letter-spacing: 1.5;
    margin-top: 10px;
    margin-bottom: 30px;
}
